<div class="container">

<div id="profile" class="profile-block animated fadeInLeft">
    <div class="ui-block">
        <div class="container">

        <div class="sub-block">
        <img src="./img/profile_picture.jpg"/>
        </div>

        <div class="sub-block">
        <h3>profile</h3>

        <dl>
            <dt>name</dt>
            <dd>nguyen tuan cuong</dd>
            <dt>email</dt>
            <dd>cuongnguyen@yami.moe</dd>
            <dt>professions</dt>
            <dd>
                <ul>
                <li>programming</li>
                <li>ui/ux design</li>
                <li>spam</li>
                <li>game design</li>
                </ul>
            </dd>
        </dl>
        </div>

        </div>
    </div>
</div>

<div class="projects-block">
    <div id="project1" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">virtual reality game <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.12.31</dd>
                            <dt>current phase</dt>
                            <dd>3/5</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>design an action game with virtual reality technology. the game should be aimed to teen players.</p>
                            </dd>
                        </dl>

                        <div class="buttons">
                            <a href="#">edit</a>
                            <a href="#project">go to page</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>risa tachibana</li>
                            <li>cocomi naruse</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>game's asset: 3d models, textures and musics.</dd>
                <dt>deadline</dt>
                <dd>2014.12.15</dd>
            </dl>
        </div>

    </div>

    <div id="project2" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">studio homepage <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.11.06</dd>
                            <dt>current phase</dt>
                            <dd>4/4</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>homepage for game studio.</p>
                            </dd>
                        </dl>

                        <div class="buttons">
                            <a href="#">edit</a>
                            <a href="#project">go to page</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>pikachu</li>
                            <li>kanade tachibana</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>pick colors palette</dd>
                <dt>deadline</dt>
                <dd>2014.11.06</dd>
            </dl>
        </div>

    </div>

    <div id="project3" class="project-block animated fadeInRight">

        <div class="pure-g row-1">
            <div class="pure-u-3-5">

                <div class="main">
                    <div class="header">test project <i class="fa fa-caret-down"></i></div>
                    <div class="description">
                        <dl>
                            <dt>project deadline</dt>
                            <dd>2014.12.31</dd>
                            <dt>current phase</dt>
                            <dd>1/10</dd>
                            <dt>description</dt>
                            <dd class="big-description">
                                <p>testing project.</p>
                            </dd>
                        </dl>

                        <div class="buttons">
                            <a href="#">edit</a>
                            <a href="#project">go to page</a>
                        </div>
                    </div>
                </div>

            </div>

            <div class="pure-u-2-5">

                <div class="members">
                    <dl>
                        <dt>team members</dt>
                        <dd>
                            <ul>
                            <li>nguyen tuan cuong</li>
                            <li>hoang long</li>
                            <li>an pham</li>
                            </ul>
                        </dd>
                    </dl>
                </div>

            </div>
        </div>

        <div class="task row-2">
            <dl>
                <dt>current task</dt>
                <dd>remove this project</dd>
                <dt>deadline</dt>
                <dd>2014.11.07</dd>
            </dl>
        </div>

    </div>
</div>

</div>