<div class="container">

<div class="ui-block animated zoomInDown">
    <div class="container">

    <h3>virtual reality game</h3>

    <div class="current-phases pure-g">
    <div class="pure-u-1-5"><div class="phase done first">phase 1</div></div>
    <div class="pure-u-1-5"><div class="phase done">phase 2</div></div>
    <div class="pure-u-1-5"><div class="phase active">phase 3</div></div>
    <div class="pure-u-1-5"><div class="phase inactive">phase 4</div></div>
    <div class="pure-u-1-5"><div class="phase inactive last">phase 5</div></div>
    </div>

    <div class="project-description pure-g">
    <div class="pure-u-1-3">
    <dl>
        <dt>description</dt>
        <dd class="long-description">
        design an action game with virtual reality technology. the game should be aimed to teen players. using for educational purposes.
        </dd>
    </dl>
    </div>

    <div class="pure-u-1-3">
    <dl>
        <dt>team members</dt>
        <dd>
        <div class="accounts-list">
            <div class="member" ng-repeat="account in accounts">
            <img src="img/{{account.pic}}"/>
            <span>{{account.name}}</span>
            <small>{{account.email}}</small>
            </div>
        </div>
        </dd>
    </dl>
    </div>

    <div class="pure-u-1-3">
    <dl>
        <dt>deadline</dt>
        <dd>2014.12.31</dd>
    </dl>
    </div>
    </div>

    <div class="tasks-list">
    <table>
        <thead>
        <tr>
        <th width="160px">tasks <a href="#addtask">add</a></th>
        <th>description</th>
        <th width="160px">deadline</th>
        <th>assignees</th>
        <th width="240px">status</th>
        </tr>
        </thead>
        <tbody>
        <tr>
        <td>task 3 <a>edit</a></td>
        <td class="long-description">game's asset: 3d models, textures and musics</td>
        <td>2014.12.15</td>
        <td>
            <div class="accounts-list">
                <div class="member" ng-repeat="account in tasks3">
                <img src="img/{{account.pic}}"/>
                <span>{{account.name}}</span>
                <small>{{account.email}}</small>
                </div>
            </div>
        </td>
        <td>
            <div class="wrapper-dropdown">
            <span>in progress</span>
            <ul class="dropdown">
                <li>done</li>
                <li>in progress</li>
                <li>passed</li>
            </ul>
            </div>
        </td>
        </tr>
        <tr>
        <td>task 4 <a>edit</a></td>
        <td class="long-description">implement game assets into prototype</td>
        <td>2014.12.20</td>
        <td>
            <div class="accounts-list">
                <div class="member" ng-repeat="account in tasks3">
                <img src="img/{{account.pic}}"/>
                <span>{{account.name}}</span>
                <small>{{account.email}}</small>
                </div>
            </div>
        </td>
        <td>
            <div class="wrapper-dropdown">
            <span>in progress</span>
            <ul class="dropdown">
                <li>done</li>
                <li>in progress</li>
                <li>passed</li>
            </ul>
            </div>
        </td>
        </tr>
        <tr class="done">
        <td>task 1 <a>edit</a></td>
        <td class="long-description">make a prototype to work with computer</td>
        <td>2014.11.11</td>
        <td>
            <div class="accounts-list">
                <div class="member" ng-repeat="account in tasks1">
                <img src="img/{{account.pic}}"/>
                <span>{{account.name}}</span>
                <small>{{account.email}}</small>
                </div>
            </div>
        </td>
        <td>
            <div class="wrapper-dropdown">
            <span>done</span>
            <ul class="dropdown">
                <li>done</li>
                <li>in progress</li>
                <li>passed</li>
            </ul>
            </div>
        </td>
        </tr>

        <tr class="done">
        <td>task 2 <a>edit</a></td>
        <td class="long-description">implement virtual reality technology for testing</td>
        <td>2014.11.15</td>
        <td>
            <div class="accounts-list">
                <div class="member" ng-repeat="account in tasks2">
                <img src="img/{{account.pic}}"/>
                <span>{{account.name}}</span>
                <small>{{account.email}}</small>
                </div>
            </div>
        </td>
        <td>
            <div class="wrapper-dropdown">
            <span>done</span>
            <ul class="dropdown">
                <li>done</li>
                <li>in progress</li>
                <li>passed</li>
            </ul>
            </div>
        </td>
        </tr>
        </tbody>
    </table>
    </div>

    </div>
</div>

</div>