$fonts-base: "Open Sans", sans-serif;
$fonts-ui: "Lato", sans-serif;

$color-base: rgba(34,34,34,1.0);
$color-sub-base: rgba(14,14,14,1.0);
$color-background: #333333;
$color-border: rgba(14,14,14,0.25);
$color-sub-border: rgba(34,34,34,0.25);

$color-background-navbar: #2C2C2C;
$color-border-navbar: rgba(96,96,96,0.5);

$color-text: #F9F9F9;
$color-text-header: #85c1e9;
$color-text-sub-header: #add5f0;
$color-panel: #000000;

$color-link: #424242;
$color-hover: #16a085;
$color-active: #0b5042;

$color-button: #111111;
$color-border-button: rgba(16,16,16,0.35);
$color-button-hover: #233140;
$color-border-button-hover: rgba(16,16,16,0.35);
$color-button-active: #121922;
$color-border-button-active: rgba(16,16,16,0.35);

$color-button-alt: #2F2F2F;

$color-border-sub: rgba(128,128,128,0.25);